numpy==1.22.0
scikit-learn==1.0.1
scipy==1.11.1
pyyaml==6.0
tqdm==4.65.0
-f https://download.pytorch.org/whl/torch_stable.html
torch
-f https://download.pytorch.org/whl/torch_stable.html
torchvision
-f https://download.pytorch.org/whl/torch_stable.html
torchaudio
